h2 {
  margin-top: 2em;
}

form {
  display: flex;
  margin: 1em;
}

form > * + * {
  margin-left: 1em;
}

input {
  width: 5em;
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid gray;
}

canvas {
  border: 1px solid gray;
}

.canvas-wrapper {
  width: 600px;
  height: 400px;
  position: relative;
}

.loading .loader {
  display: block;
}

.loading canvas {
  opacity: 0.1;
}

.loading .progress-bar-wrapper {
  display: block;
}

.progress-bar-wrapper {
  display: none;
  position: absolute;
  height: 8px;
  width: 200px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -4px;
  background-color: #bbbbbb;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 1px;
  background-color: #636363;
  transition: width 0.2s;
}
